<nav class="">
  <header>
      <a routerLink="/dashboard" class="navbar-brand" style="align-items: center;">
        <img src="../../assets/mon logo.png" alt="" style="height: 150px; margin-left:15%; border-radius: 12px;" />
      </a>
    </header>
  <div class="menu-bar">
    <div class="menu">
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/dashboard">
          <i class='bx bx-briefcase-alt-2 icon'></i>
          <span class="text nav-text">Annonce</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/recruteurs">
          <i class="bx bxs-user-circle icon"></i>
          <span class="text nav-text">Recruteur</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/demandeurs">
          <i class="bx bxs-user-circle icon"></i>
          <span class="text nav-text">Demandeurs</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/admin">
          <i class="bx bxs-user-circle icon"></i>
          <span class="text nav-text">Admin</span>
        </a>
      </li>
    </div>
  </div>
</nav>